h1 {
    color: rgb(255, 0, 0);
    font-size:18px;
    text-align: center;
}
p {
    color: rgb(255, 0, 0);
    font-size:14px;
    text-align: center;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}