img.displayed {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
iframe.sortie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid rgb(54, 35, 129);
    width : 50%;
    
}
iframe.entrée {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid rgb(54, 35, 129);
    width : 50%;
    word-wrap: break-word;
    
}
header.pagetitle{
    text-align: center;
    font-size: 30px;

}

body {
    background-color: rgb(171, 209, 222);
}